/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap'); */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Space Grotesk", sans-serif !important; */
}

code,
token-line {
  /* font-family: "Consolas", monospace !important; */
  /* font-family: unset; */
  /* font-family: 'JetBrains Mono', monospace !important; */
}

.menu {
  /* background-color: #212121; */
}

.footer--dark {
  margin-top: -1px;
  --ifm-footer-background-color: #212121;
}

/* header background */
.bg {
  background-image: url(b4.svg);
  background-repeat: no-repeat;
  /* background-position: left; */
  background-size: cover;
  color: var(--ifm-navbar-background-color);

  backdrop-filter: blur(3px);

  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23293c78' fill-opacity='0.48' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
 */
}

/* Code block */
.headercode {
  /* --prism-background-color: var(--ifm-color-gray-900) !important; */
  /* border: 1px solid #31343a; */
  backdrop-filter: blur(10px);
  opacity: 0.8;
  margin: 0 !important;
}

/* [data-theme="dark"] {
  .navbar {
    * {
    }
  }
} */

.navbar {
  * {
    /* color: white !important; */
  };

  /* background: rgba(var(--ifm-color-gray-100), 0.5) !important; */
  /* background-color: rgba(0, 18, 32, 0.5); */
  /* background-color: rgba(var(--ifm-navbar-background-color),0.5); */
  /* -webkit-backdrop-filter: blur(10px); */
  /* backdrop-filter: blur(10px); */
}

.menu__list-item-collapsible > .menu__link {
  font-weight: 900;
  /* color: #cdddfc; */
}

.menu__link--active {
  /* background: #2c2c2c !important; */
  border-width: 3px;
  border-style: none none none groove;
}

.theme-doc-sidebar-item-link-level-2 {
  opacity: 0.9;
}

.menu__link:hover {
  /* animate movement to the right */
  transform: translateX(5px);
  transition: transform 0.2s ease-in-out;
}

.menu {
  /* background: var(--sidebar-style); */
}

.theme-doc-sidebar-container {
  border-right: none !important;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-menu-color: rgb(24, 24, 24);
  --ifm-footer-background-color: rgb(26, 26, 26);
  --ifm-global-shadow-lw: none;
  --ifm-navbar-background-color: #f5f5f5;

  --ifm-color-primary: #2e4385;
  --ifm-color-primary-dark: #293c78;
  --ifm-color-primary-darker: #273971;
  --ifm-color-primary-darkest: #202f5d;
  --ifm-color-primary-light: #334a92;
  --ifm-color-primary-lighter: #354d99;
  --ifm-color-primary-lightest: #3c57ad;

  --ifm-menu-color-active: #1755d3;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --sidebar-style: rgba(0, 0, 0, 0.03);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-menu-color: white;
  --ifm-footer-background-color: rgb(26, 26, 26);
  --ifm-navbar-background-color: #242526;

  --ifm-color-primary: #c2d6ff;
  --ifm-color-primary-dark: #95b8ff;
  --ifm-color-primary-darker: #7fa9ff;
  --ifm-color-primary-darkest: #3b7bff;
  --ifm-color-primary-light: #eff4ff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-menu-color-active: #7fa9ff;

  --ifm-color-gray-100: var(--ifm-color-gray-900);

  --sidebar-style: rgba(0, 0, 0, 0.1);
}

.code-block-red-line {
  background-color: #af272b8a;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 9px solid #e53935;
}

.code-block-red-line::before {
  content: "-";
  position: absolute;
  left: 1px;
}

.code-block-green-line {
  background-color: #1b5e20;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 9px solid #4caf50;
}

.code-block-green-line::before {
  content: "+";
  position: absolute;
  left: 1px;
}

figcaption {
  text-align: center;
  color: #828282;
  margin-top: -1em;
}

.bg-1 {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='560' preserveAspectRatio='none' viewBox='0 0 2000 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1132%26quot%3b)' fill='none'%3e%3crect width='2000' height='560' x='0' y='0' fill='rgba(28%2c 30%2c 33%2c 1)'%3e%3c/rect%3e%3cpath d='M836 208L538 -90' stroke-width='8' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M15 259L-296 -52' stroke-width='6' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M703 476L350 123' stroke-width='8' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1805 178L1598 -29' stroke-width='6' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1957 28L1658 -271' stroke-width='6' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1906 413L2109 616' stroke-width='10' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1368 107L1761 500' stroke-width='10' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1704 240L1930 466' stroke-width='10' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1569 283L1285 -1' stroke-width='10' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1693 289L1435 31' stroke-width='6' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M348 322L79 53' stroke-width='10' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1859 11L1473 -375' stroke-width='10' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1796 168L2070 442' stroke-width='8' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1204 324L1386 506' stroke-width='10' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1447 180L1134 -133' stroke-width='6' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1887 281L1735 129' stroke-width='8' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M448 461L134 147' stroke-width='10' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1587 142L1940 495' stroke-width='8' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1285 376L1444 535' stroke-width='10' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1294 453L1565 724' stroke-width='10' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M722 298L958 534' stroke-width='6' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1156 479L814 137' stroke-width='8' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1842 168L1659 -15' stroke-width='10' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M264 13L519 268' stroke-width='6' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M34 359L211 536' stroke-width='10' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1229 145L903 -181' stroke-width='10' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M809 34L1045 270' stroke-width='6' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1883 227L1561 -95' stroke-width='6' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M316 460L589 733' stroke-width='10' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M421 479L183 241' stroke-width='6' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M107 57L354 304' stroke-width='8' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M310 288L520 498' stroke-width='10' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1733 543L2111 921' stroke-width='6' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1319 107L1004 -208' stroke-width='6' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1913 459L2197 743' stroke-width='8' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M953 206L773 26' stroke-width='8' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1253 455L847 49' stroke-width='6' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M549 434L275 160' stroke-width='8' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1760 29L1458 -273' stroke-width='10' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M472 378L756 662' stroke-width='10' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M900 30L586 -284' stroke-width='6' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1050 314L669 -67' stroke-width='6' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1754 40L2006 292' stroke-width='8' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1662 145L1315 -202' stroke-width='8' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M792 352L443 3' stroke-width='6' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1732 394L1591 253' stroke-width='6' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1435 77L1250 -108' stroke-width='8' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1544 302L1205 -37' stroke-width='8' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M509 474L705 670' stroke-width='6' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M789 260L500 -29' stroke-width='6' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M20 380L382 742' stroke-width='6' stroke='url(%23SvgjsLinearGradient1134)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M436 518L827 909' stroke-width='8' stroke='url(%23SvgjsLinearGradient1133)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1132'%3e%3crect width='2000' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1133'%3e%3cstop stop-color='rgba(57%2c 61%2c 67%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(57%2c 61%2c 67%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1134'%3e%3cstop stop-color='rgba(57%2c 61%2c 67%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(57%2c 61%2c 67%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

html[data-theme="dark"] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}
